body {
  margin: 0;
  line-height: normal;
}
.imagini10,
.north-1-icon {
  position: absolute;
  bottom: 0;
  left: 0;
}
.north-1-icon {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  border-radius: var(--br-2xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.imagini10 {
  height: 99.81%;
  width: 40.68%;
  top: 0.19%;
  right: 59.32%;
  filter: blur(60px);
}
.the-northman-2022 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: inline-block;
}
.text5 {
  position: absolute;
  height: 4.44%;
  width: 27.08%;
  top: 0.19%;
  right: 27.19%;
  bottom: 95.37%;
  left: 45.73%;
  font-size: var(--font-size-2xl);
}
.imagini11 {
  position: absolute;
  height: 58.43%;
  width: 21.77%;
  top: 19.26%;
  right: 67.86%;
  bottom: 22.31%;
  left: 10.36%;
}
.from-visionary-director {
  position: absolute;
  height: 7.69%;
  width: 52.03%;
  top: 61.57%;
  left: 45.73%;
  font-size: var(--font-size-2xs);
  display: inline-block;
}
.director-robert-eggers,
.genre-action-adventure3 {
  position: absolute;
  top: 18.43%;
  left: 45.73%;
}
.director-robert-eggers {
  top: 25.46%;
}
.stars-alexander-skarsgard,
.writers-sjon-robert {
  position: absolute;
  top: 32.5%;
  left: 45.73%;
}
.stars-alexander-skarsgard {
  top: 39.54%;
}
.northman-child {
  height: 11.57%;
  width: 8.7%;
  top: 78.89%;
  right: 23.91%;
  bottom: 9.54%;
  left: 67.4%;
  border-radius: var(--br-xl);
  background-color: var(--color-black);
  border: 6px solid var(--color-white);
}
.northman-child,
.northman-inner,
.northman-item {
  position: absolute;
  box-sizing: border-box;
}
.northman-item {
  height: 6.2%;
  width: 8.1%;
  top: 82.22%;
  right: 43.87%;
  bottom: 11.57%;
  left: 48.02%;
  border-radius: var(--br-lg);
  background-color: var(--color-black);
  border: 4.3px solid var(--color-white);
}
.northman-inner {
  height: 6.6%;
  width: 0.23%;
  top: 82.02%;
  right: 47.81%;
  bottom: 11.37%;
  left: 51.96%;
  border-right: 4.3px solid var(--color-white);
}
.arrow-icon5,
.bookmark-icon5,
.like-icon10,
.like-icon11,
.play-icon5 {
  position: absolute;
  height: 4.34%;
  width: 2.44%;
  top: 82.89%;
  right: 48.53%;
  bottom: 12.77%;
  left: 49.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.arrow-icon5,
.bookmark-icon5,
.like-icon11,
.play-icon5 {
  top: 83.42%;
  right: 44.89%;
  bottom: 12.24%;
  left: 52.67%;
}
.arrow-icon5,
.bookmark-icon5,
.play-icon5 {
  height: 6.02%;
  width: 3.39%;
  top: 81.67%;
  right: 7.5%;
  bottom: 12.31%;
  left: 89.11%;
}
.arrow-icon5,
.play-icon5 {
  top: 81.76%;
  right: 26.56%;
  bottom: 12.22%;
  left: 70.05%;
}
.arrow-icon5 {
  top: 2.41%;
  right: 2.24%;
  bottom: 91.57%;
  left: 94.38%;
}
.h-17min {
  position: absolute;
  top: 93.15%;
  left: 68.39%;
  font-size: var(--font-size-sm);
}
.northman {
  position: relative;
  background-color: var(--color-black);
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-k2d);
}
