body {
  margin: 0;
  line-height: normal;
}
.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.aliza-shafiq,
.moviemania,
.user {
  position: absolute;
  height: 90.57%;
  display: inline-block;
}
.moviemania {
  width: 14.05%;
  top: 0;
  left: 0;
  font-family: var(--font-itim);
}
.aliza-shafiq,
.user {
  width: 4.96%;
  top: 9.43%;
  left: 80.11%;
  font-size: var(--font-size-xs);
  font-weight: 600;
}
.aliza-shafiq {
  width: 15.12%;
  top: 0;
  left: 84.88%;
  font-size: var(--font-size-sm);
}
.text8 {
  position: absolute;
  height: 1.23%;
  width: 83.02%;
  top: 1.16%;
  right: 15.1%;
  bottom: 97.62%;
  left: 1.88%;
  text-align: left;
  font-size: var(--font-size-lg);
}
.figuri-child {
  position: absolute;
  height: 104.17%;
  width: 100.2%;
  top: -2.08%;
  right: -0.1%;
  bottom: -2.08%;
  left: -0.1%;
  border-radius: var(--br-md);
  background-color: var(--color-white);
  border: 2px solid var(--color-white);
  box-sizing: border-box;
}
.figuri {
  position: absolute;
  height: 1.11%;
  width: 52.24%;
  top: 1.16%;
  right: 33.02%;
  bottom: 97.73%;
  left: 14.74%;
}
.check-icon1,
.menu-icon3,
.search-icon2 {
  position: absolute;
  height: 0.74%;
  width: 1.67%;
  top: 1.34%;
  right: 33.8%;
  bottom: 97.92%;
  left: 64.53%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.check-icon1,
.menu-icon3 {
  height: 0.97%;
  width: 2.19%;
  top: 1.23%;
  right: 14.01%;
  bottom: 97.8%;
  left: 83.8%;
}
.menu-icon3 {
  height: 1.25%;
  width: 2.81%;
  top: 1.04%;
  right: 1.25%;
  bottom: 97.71%;
  left: 95.94%;
}
.batman1 {
  position: absolute;
  height: 2.06%;
  width: 21.6%;
  top: 20.51%;
  left: 20.35%;
  display: inline-block;
}
.morbius1,
.the-bad-guys1,
.the-northman,
.the-secrets-of1,
.wednesday1 {
  position: absolute;
  height: 2.06%;
  width: 21.6%;
  top: 20.47%;
  left: 58.05%;
  display: inline-block;
}
.morbius1,
.the-bad-guys1,
.the-northman,
.the-secrets-of1 {
  top: 46.18%;
  left: 19.48%;
}
.morbius1,
.the-northman,
.the-secrets-of1 {
  top: 71.17%;
  left: 58.05%;
}
.the-northman,
.the-secrets-of1 {
  left: 19.48%;
}
.the-northman {
  top: 96.55%;
}
.doctor-strange1 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.multiverse-of-madness {
  margin: 0;
}
.doctor-strange-multiverse-container,
.spider-man-no-way-container {
  position: absolute;
  height: 2.06%;
  width: 24.69%;
  top: 96.55%;
  left: 56.51%;
  display: inline-block;
}
.spider-man-no-way-container {
  top: 45.84%;
}
.bat-1-icon2,
.bat-2-icon2,
.north-1-icon2,
.north-2-icon2,
.sonic-1-icon1,
.sonic-2-icon4,
.spider-1-icon2,
.spider-2-icon2 {
  position: absolute;
  height: 17.01%;
  width: 37.3%;
  top: 0;
  right: 0;
  bottom: 82.99%;
  left: 62.7%;
  border-radius: var(--br-sm);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.bat-1-icon2,
.bat-2-icon2,
.north-1-icon2,
.north-2-icon2,
.sonic-2-icon4,
.spider-1-icon2,
.spider-2-icon2 {
  top: 82.9%;
  right: 62.7%;
  bottom: 0.09%;
  left: 0;
}
.bat-1-icon2,
.bat-2-icon2,
.north-2-icon2,
.sonic-2-icon4,
.spider-1-icon2,
.spider-2-icon2 {
  top: 82.99%;
  right: 0;
  bottom: 0;
  left: 62.7%;
}
.bat-1-icon2,
.bat-2-icon2,
.north-2-icon2,
.sonic-2-icon4,
.spider-2-icon2 {
  top: 0;
  right: 62.7%;
  bottom: 82.99%;
  left: 0;
}
.bat-2-icon2,
.north-2-icon2,
.sonic-2-icon4,
.spider-2-icon2 {
  top: 55.28%;
  bottom: 27.71%;
}
.bat-2-icon2,
.north-2-icon2,
.spider-2-icon2 {
  top: 55.19%;
  right: 0;
  bottom: 27.8%;
  left: 62.7%;
}
.bat-2-icon2,
.spider-2-icon2 {
  top: 27.62%;
  bottom: 55.37%;
}
.bat-2-icon2 {
  right: 62.7%;
  left: 0;
}
.imagini16 {
  position: absolute;
  height: 91.72%;
  width: 61.53%;
  top: 4.91%;
  right: 19.67%;
  bottom: 3.37%;
  left: 18.8%;
}
.signed-in {
  position: relative;
  background-color: var(--color-black);
  width: 100%;
  height: 4320px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-k2d);
}
.imagini,
.spider-2-icon {
  position: absolute;
  bottom: 0;
  left: 0;
}
.spider-2-icon {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  border-radius: var(--br-2xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.imagini {
  height: 99.81%;
  width: 40.68%;
  top: 0.19%;
  right: 59.32%;
  filter: blur(60px);
}
.spider-man-no-way {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: inline-block;
}
.imagini1,
.text {
  position: absolute;
}
.text {
  height: 12.31%;
  width: 32.71%;
  top: 0.19%;
  right: 21.56%;
  bottom: 87.5%;
  left: 45.73%;
  font-size: var(--font-size-2xl);
}
.imagini1 {
  height: 58.24%;
  width: 21.77%;
  top: 19.44%;
  right: 67.86%;
  bottom: 22.31%;
  left: 10.36%;
}
.with-spider-mans-identity {
  margin-block-start: 0;
  margin-block-end: 0;
}
.with-spider-mans-identity-container {
  position: absolute;
  height: 8.98%;
  width: 52.03%;
  top: 61.57%;
  left: 45.73%;
  font-size: var(--font-size-2xs);
  display: inline-block;
}
.genre-action-adventure {
  position: absolute;
  top: 18.43%;
  left: 45.73%;
}
.director-jon-watts,
.writers-chris-mckenna {
  position: absolute;
  top: 25.46%;
  left: 45.73%;
}
.writers-chris-mckenna {
  top: 32.5%;
}
.stars-tom-holland {
  position: absolute;
  top: 39.54%;
  left: 46.04%;
}
.spider-man-child {
  height: 11.57%;
  width: 8.7%;
  top: 78.89%;
  right: 23.91%;
  bottom: 9.54%;
  left: 67.4%;
  border-radius: var(--br-xl);
  background-color: var(--color-black);
  border: 6px solid var(--color-white);
}
.spider-man-child,
.spider-man-inner,
.spider-man-item {
  position: absolute;
  box-sizing: border-box;
}
.spider-man-item {
  height: 6.2%;
  width: 8.1%;
  top: 82.22%;
  right: 43.87%;
  bottom: 11.57%;
  left: 48.02%;
  border-radius: var(--br-lg);
  background-color: var(--color-black);
  border: 4.3px solid var(--color-white);
}
.spider-man-inner {
  height: 6.6%;
  width: 0.23%;
  top: 82.02%;
  right: 47.81%;
  bottom: 11.37%;
  left: 51.96%;
  border-right: 4.3px solid var(--color-white);
}
.arrow-icon,
.bookmark-icon,
.like-icon,
.like-icon1,
.play-icon {
  position: absolute;
  height: 4.34%;
  width: 2.44%;
  top: 82.89%;
  right: 48.53%;
  bottom: 12.77%;
  left: 49.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.arrow-icon,
.bookmark-icon,
.like-icon1,
.play-icon {
  top: 83.42%;
  right: 44.89%;
  bottom: 12.24%;
  left: 52.67%;
}
.arrow-icon,
.bookmark-icon,
.play-icon {
  height: 6.02%;
  width: 3.39%;
  top: 81.67%;
  right: 7.5%;
  bottom: 12.31%;
  left: 89.11%;
}
.arrow-icon,
.play-icon {
  top: 81.76%;
  right: 26.56%;
  bottom: 12.22%;
  left: 70.05%;
}
.arrow-icon {
  top: 2.41%;
  right: 2.24%;
  bottom: 91.57%;
  left: 94.38%;
}
.h-28min {
  position: absolute;
  top: 93.15%;
  left: 68.02%;
  font-size: var(--font-size-sm);
}
.spider-man {
  position: relative;
  background-color: var(--color-black);
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-k2d);
}
.imagini2,
.north-2-icon {
  position: absolute;
  bottom: 0;
  left: 0;
}
.north-2-icon {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  border-radius: var(--br-2xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.imagini2 {
  height: 99.81%;
  width: 40.68%;
  top: 0.19%;
  right: 59.32%;
  filter: blur(60px);
}
.morbius-2022 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: inline-block;
}
.text1 {
  position: absolute;
  height: 12.31%;
  width: 32.71%;
  top: 0.19%;
  right: 21.56%;
  bottom: 87.5%;
  left: 45.73%;
  font-size: var(--font-size-2xl);
}
.imagini3 {
  position: absolute;
  height: 58.43%;
  width: 21.77%;
  top: 19.26%;
  right: 67.86%;
  bottom: 22.31%;
  left: 10.36%;
}
.biochemist-michael-morbius {
  margin-block-start: 0;
  margin-block-end: 0;
}
.biochemist-michael-morbius-container {
  position: absolute;
  height: 8.98%;
  width: 52.03%;
  top: 61.57%;
  left: 45.73%;
  font-size: var(--font-size-2xs);
  display: inline-block;
}
.director-daniel-espinosa,
.genre-action-adventure1 {
  position: absolute;
  top: 18.43%;
  left: 45.73%;
}
.director-daniel-espinosa {
  top: 25.46%;
}
.stars-jared-leto,
.writers-matt-sazama {
  position: absolute;
  top: 32.5%;
  left: 45.73%;
}
.stars-jared-leto {
  top: 39.54%;
}
.morbius-child {
  height: 11.57%;
  width: 8.7%;
  top: 78.89%;
  right: 23.91%;
  bottom: 9.54%;
  left: 67.4%;
  border-radius: var(--br-xl);
  background-color: var(--color-black);
  border: 6px solid var(--color-white);
}
.morbius-child,
.morbius-inner,
.morbius-item {
  position: absolute;
  box-sizing: border-box;
}
.morbius-item {
  height: 6.2%;
  width: 8.1%;
  top: 82.22%;
  right: 43.87%;
  bottom: 11.57%;
  left: 48.02%;
  border-radius: var(--br-lg);
  background-color: var(--color-black);
  border: 4.3px solid var(--color-white);
}
.morbius-inner {
  height: 6.6%;
  width: 0.23%;
  top: 82.02%;
  right: 47.81%;
  bottom: 11.37%;
  left: 51.96%;
  border-right: 4.3px solid var(--color-white);
}
.arrow-icon1,
.bookmark-icon1,
.like-icon2,
.like-icon3,
.play-icon1 {
  position: absolute;
  height: 4.34%;
  width: 2.44%;
  top: 82.89%;
  right: 48.53%;
  bottom: 12.77%;
  left: 49.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.arrow-icon1,
.bookmark-icon1,
.like-icon3,
.play-icon1 {
  top: 83.42%;
  right: 44.89%;
  bottom: 12.24%;
  left: 52.67%;
}
.arrow-icon1,
.bookmark-icon1,
.play-icon1 {
  height: 6.02%;
  width: 3.39%;
  top: 81.67%;
  right: 7.5%;
  bottom: 12.31%;
  left: 89.11%;
}
.arrow-icon1,
.play-icon1 {
  top: 81.76%;
  right: 26.56%;
  bottom: 12.22%;
  left: 70.05%;
}
.arrow-icon1 {
  top: 2.41%;
  right: 2.24%;
  bottom: 91.57%;
  left: 94.38%;
}
.h-44min {
  position: absolute;
  top: 93.15%;
  left: 68.49%;
  font-size: var(--font-size-sm);
}
.morbius {
  position: relative;
  background-color: var(--color-black);
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-k2d);
}
.imagini4,
.sonic-2-icon {
  position: absolute;
  bottom: 0;
  left: 0;
}
.sonic-2-icon {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  border-radius: var(--br-2xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.imagini4 {
  height: 99.81%;
  width: 40.68%;
  top: 0.19%;
  right: 59.32%;
  filter: blur(99px);
}
.the-secrets-of {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: inline-block;
}
.text2 {
  position: absolute;
  height: 12.31%;
  width: 32.71%;
  top: 0.19%;
  right: 21.56%;
  bottom: 87.5%;
  left: 45.73%;
  font-size: var(--font-size-2xl);
}
.imagini5 {
  position: absolute;
  height: 58.43%;
  width: 21.77%;
  top: 19.26%;
  right: 67.86%;
  bottom: 22.31%;
  left: 10.36%;
}
.albus-dumbledore-assigns {
  position: absolute;
  height: 8.98%;
  width: 52.03%;
  top: 61.57%;
  left: 45.73%;
  font-size: var(--font-size-2xs);
  display: inline-block;
}
.director-davit-yates,
.genre-adventure-family {
  position: absolute;
  top: 18.43%;
  left: 45.73%;
}
.director-davit-yates {
  top: 25.46%;
}
.stars-eddie-redmayne,
.writers-j-k {
  position: absolute;
  top: 32.5%;
  left: 45.73%;
}
.stars-eddie-redmayne {
  top: 39.54%;
}
.dumbledore-child {
  height: 11.57%;
  width: 8.7%;
  top: 78.89%;
  right: 23.91%;
  bottom: 9.54%;
  left: 67.4%;
  border-radius: var(--br-xl);
  background-color: var(--color-black);
  border: 6px solid var(--color-white);
}
.dumbledore-child,
.dumbledore-inner,
.dumbledore-item {
  position: absolute;
  box-sizing: border-box;
}
.dumbledore-item {
  height: 6.2%;
  width: 8.1%;
  top: 82.22%;
  right: 43.87%;
  bottom: 11.57%;
  left: 48.02%;
  border-radius: var(--br-lg);
  background-color: var(--color-black);
  border: 4.3px solid var(--color-white);
}
.dumbledore-inner {
  height: 6.6%;
  width: 0.23%;
  top: 82.02%;
  right: 47.81%;
  bottom: 11.37%;
  left: 51.96%;
  border-right: 4.3px solid var(--color-white);
}
.arrow-icon2,
.bookmark-icon2,
.like-icon4,
.like-icon5,
.play-icon2 {
  position: absolute;
  height: 4.34%;
  width: 2.44%;
  top: 82.89%;
  right: 48.53%;
  bottom: 12.77%;
  left: 49.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.arrow-icon2,
.bookmark-icon2,
.like-icon5,
.play-icon2 {
  top: 83.42%;
  right: 44.89%;
  bottom: 12.24%;
  left: 52.67%;
}
.arrow-icon2,
.bookmark-icon2,
.play-icon2 {
  height: 6.02%;
  width: 3.39%;
  top: 81.67%;
  right: 7.5%;
  bottom: 12.31%;
  left: 89.11%;
}
.arrow-icon2,
.play-icon2 {
  top: 81.76%;
  right: 26.56%;
  bottom: 12.22%;
  left: 70.05%;
}
.arrow-icon2 {
  top: 2.41%;
  right: 2.24%;
  bottom: 91.57%;
  left: 94.38%;
}
.h-23min {
  position: absolute;
  top: 93.15%;
  left: 68.13%;
  font-size: var(--font-size-sm);
}
.dumbledore {
  position: relative;
  background-color: var(--color-black);
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-k2d);
}
.bat-2-icon,
.imagini6 {
  position: absolute;
  left: 0;
  width: 781px;
  height: 1078px;
}
.bat-2-icon {
  top: 0;
  border-radius: var(--br-2xs);
  object-fit: cover;
}
.imagini6 {
  top: 2px;
  filter: blur(60px);
}
.text3,
.the-bad-guys {
  position: absolute;
  width: 628px;
  height: 133px;
}
.the-bad-guys {
  top: 0;
  left: 0;
  display: inline-block;
}
.text3 {
  top: 2px;
  left: 878px;
  font-size: var(--font-size-2xl);
}
.bat-2-icon1,
.imagini7 {
  position: absolute;
  width: 418px;
  height: 631px;
}
.bat-2-icon1 {
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  object-fit: cover;
}
.imagini7 {
  top: 208px;
  left: 199px;
}
.several-reformed-yet {
  position: absolute;
  top: 665px;
  left: 878px;
  font-size: var(--font-size-2xs);
  display: inline-block;
  width: 999px;
  height: 97px;
}
.director-pierre-perifel,
.genre-animation-adventure {
  position: absolute;
  top: 199px;
  left: 878px;
}
.director-pierre-perifel {
  top: 275px;
}
.stars-sam-rockwell,
.writers-aaron-blabey {
  position: absolute;
  top: 351px;
  left: 878px;
}
.stars-sam-rockwell {
  top: 427px;
}
.bad-guys-child {
  top: 852px;
  left: 1294px;
  border-radius: var(--br-xl);
  background-color: var(--color-black);
  border: 6px solid var(--color-white);
  width: 167px;
  height: 125px;
}
.bad-guys-child,
.bad-guys-inner,
.bad-guys-item {
  position: absolute;
  box-sizing: border-box;
}
.bad-guys-item {
  top: 888px;
  left: 922px;
  border-radius: var(--br-lg);
  background-color: var(--color-black);
  border: 4.3px solid var(--color-white);
  width: 155.61px;
  height: 67px;
}
.bad-guys-inner {
  top: 885.84px;
  left: 997.65px;
  border-right: 4.3px solid var(--color-white);
  width: 4.32px;
  height: 71.32px;
}
.like-icon6,
.like-icon7 {
  position: absolute;
  top: 895.2px;
  left: 941.45px;
  width: 46.83px;
  height: 46.83px;
}
.like-icon7 {
  top: 900.97px;
  left: 1011.33px;
}
.arrow-icon3,
.bookmark-icon3,
.play-icon3 {
  position: absolute;
  top: 882px;
  left: 1711px;
  width: 65px;
  height: 65px;
}
.arrow-icon3,
.play-icon3 {
  top: 883px;
  left: 1345px;
}
.arrow-icon3 {
  top: 26px;
  left: 1812px;
}
.h-40min {
  position: absolute;
  top: 1006px;
  left: 1312px;
  font-size: var(--font-size-sm);
}
.bad-guys {
  position: relative;
  background-color: var(--color-black);
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-k2d);
}
.spider-1-icon {
  width: 100%;
  right: 0;
  bottom: 0;
  border-radius: var(--br-2xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.doctor-strange-multiverse,
.imagini8,
.spider-1-icon {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}
.imagini8 {
  width: 40.68%;
  right: 59.32%;
  bottom: 0;
  filter: blur(60px);
}
.doctor-strange-multiverse {
  width: 100%;
  display: inline-block;
}
.text4 {
  position: absolute;
  height: 12.31%;
  width: 32.71%;
  top: 0.19%;
  right: 21.56%;
  bottom: 87.5%;
  left: 45.73%;
  font-size: var(--font-size-2xl);
}
.imagini9 {
  position: absolute;
  height: 58.43%;
  width: 21.77%;
  top: 19.26%;
  right: 67.86%;
  bottom: 22.31%;
  left: 10.36%;
}
.dr-stephen-strange {
  position: absolute;
  height: 8.98%;
  width: 52.03%;
  top: 61.57%;
  left: 45.73%;
  font-size: var(--font-size-2xs);
  display: inline-block;
}
.genre-action-adventure2 {
  position: absolute;
  top: 18.43%;
  left: 45.73%;
}
.director-sam-raimi,
.writers-michael-waldron {
  position: absolute;
  top: 25.46%;
  left: 45.73%;
}
.writers-michael-waldron {
  top: 32.5%;
}
.h-6min,
.stars-benedict-cumberbatch {
  position: absolute;
  top: 39.54%;
  left: 45.73%;
}
.h-6min {
  top: 92.04%;
  left: 68.8%;
  font-size: var(--font-size-sm);
}
.doctor-strange-child,
.doctor-strange-item {
  position: absolute;
  height: 11.57%;
  width: 8.7%;
  top: 78.89%;
  right: 23.91%;
  bottom: 9.54%;
  left: 67.4%;
  border-radius: var(--br-xl);
  background-color: var(--color-black);
  border: 6px solid var(--color-white);
  box-sizing: border-box;
}
.doctor-strange-item {
  height: 6.2%;
  width: 8.1%;
  top: 82.22%;
  right: 43.87%;
  bottom: 11.57%;
  left: 48.02%;
  border-radius: var(--br-lg);
  border: 4.3px solid var(--color-white);
}
.doctor-strange-inner {
  position: absolute;
  height: 6.6%;
  width: 0.23%;
  top: 82.02%;
  right: 47.81%;
  bottom: 11.37%;
  left: 51.96%;
  border-right: 4.3px solid var(--color-white);
  box-sizing: border-box;
}
.arrow-icon4,
.bookmark-icon4,
.like-icon8,
.like-icon9,
.play-icon4 {
  position: absolute;
  height: 4.34%;
  width: 2.44%;
  top: 82.89%;
  right: 48.53%;
  bottom: 12.77%;
  left: 49.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.arrow-icon4,
.bookmark-icon4,
.like-icon9,
.play-icon4 {
  top: 83.42%;
  right: 44.89%;
  bottom: 12.24%;
  left: 52.67%;
}
.arrow-icon4,
.bookmark-icon4,
.play-icon4 {
  height: 6.02%;
  width: 3.39%;
  top: 81.67%;
  right: 7.5%;
  bottom: 12.31%;
  left: 89.11%;
}
.arrow-icon4,
.play-icon4 {
  top: 81.76%;
  right: 26.56%;
  bottom: 12.22%;
  left: 70.05%;
}
.arrow-icon4 {
  top: 2.41%;
  right: 2.24%;
  bottom: 91.57%;
  left: 94.38%;
}
.doctor-strange {
  position: relative;
  background-color: var(--color-black);
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-k2d);
}
.imagini10,
.north-1-icon {
  position: absolute;
  bottom: 0;
  left: 0;
}
.north-1-icon {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  border-radius: var(--br-2xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.imagini10 {
  height: 99.81%;
  width: 40.68%;
  top: 0.19%;
  right: 59.32%;
  filter: blur(60px);
}
.the-northman-2022 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: inline-block;
}
.text5 {
  position: absolute;
  height: 4.44%;
  width: 27.08%;
  top: 0.19%;
  right: 27.19%;
  bottom: 95.37%;
  left: 45.73%;
  font-size: var(--font-size-2xl);
}
.imagini11 {
  position: absolute;
  height: 58.43%;
  width: 21.77%;
  top: 19.26%;
  right: 67.86%;
  bottom: 22.31%;
  left: 10.36%;
}
.from-visionary-director {
  position: absolute;
  height: 7.69%;
  width: 52.03%;
  top: 61.57%;
  left: 45.73%;
  font-size: var(--font-size-2xs);
  display: inline-block;
}
.director-robert-eggers,
.genre-action-adventure3 {
  position: absolute;
  top: 18.43%;
  left: 45.73%;
}
.director-robert-eggers {
  top: 25.46%;
}
.stars-alexander-skarsgard,
.writers-sjon-robert {
  position: absolute;
  top: 32.5%;
  left: 45.73%;
}
.stars-alexander-skarsgard {
  top: 39.54%;
}
.northman-child {
  height: 11.57%;
  width: 8.7%;
  top: 78.89%;
  right: 23.91%;
  bottom: 9.54%;
  left: 67.4%;
  border-radius: var(--br-xl);
  background-color: var(--color-black);
  border: 6px solid var(--color-white);
}
.northman-child,
.northman-inner,
.northman-item {
  position: absolute;
  box-sizing: border-box;
}
.northman-item {
  height: 6.2%;
  width: 8.1%;
  top: 82.22%;
  right: 43.87%;
  bottom: 11.57%;
  left: 48.02%;
  border-radius: var(--br-lg);
  background-color: var(--color-black);
  border: 4.3px solid var(--color-white);
}
.northman-inner {
  height: 6.6%;
  width: 0.23%;
  top: 82.02%;
  right: 47.81%;
  bottom: 11.37%;
  left: 51.96%;
  border-right: 4.3px solid var(--color-white);
}
.arrow-icon5,
.bookmark-icon5,
.like-icon10,
.like-icon11,
.play-icon5 {
  position: absolute;
  height: 4.34%;
  width: 2.44%;
  top: 82.89%;
  right: 48.53%;
  bottom: 12.77%;
  left: 49.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.arrow-icon5,
.bookmark-icon5,
.like-icon11,
.play-icon5 {
  top: 83.42%;
  right: 44.89%;
  bottom: 12.24%;
  left: 52.67%;
}
.arrow-icon5,
.bookmark-icon5,
.play-icon5 {
  height: 6.02%;
  width: 3.39%;
  top: 81.67%;
  right: 7.5%;
  bottom: 12.31%;
  left: 89.11%;
}
.arrow-icon5,
.play-icon5 {
  top: 81.76%;
  right: 26.56%;
  bottom: 12.22%;
  left: 70.05%;
}
.arrow-icon5 {
  top: 2.41%;
  right: 2.24%;
  bottom: 91.57%;
  left: 94.38%;
}
.h-17min {
  position: absolute;
  top: 93.15%;
  left: 68.39%;
  font-size: var(--font-size-sm);
}
.northman {
  position: relative;
  background-color: var(--color-black);
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-k2d);
}
.sonic-2-icon2 {
  width: 100%;
  right: 0;
  bottom: 0;
  border-radius: var(--br-sm);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.imagini12,
.sonic-2-icon2,
.wednesday2022 {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}
.imagini12 {
  width: 41.56%;
  right: 58.44%;
  bottom: 0;
  filter: blur(60px);
}
.wednesday2022 {
  width: 100%;
  display: inline-block;
}
.text6 {
  position: absolute;
  height: 7.31%;
  width: 22.97%;
  top: 0.19%;
  right: 31.3%;
  bottom: 92.5%;
  left: 45.73%;
  font-size: var(--font-size-2xl);
}
.sonic-1-icon {
  position: absolute;
  height: 93.62%;
  width: 94.85%;
  top: 3.12%;
  right: 2.57%;
  bottom: 3.26%;
  left: 2.58%;
  border-radius: var(--br-2xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.imagini13 {
  position: absolute;
  height: 62.41%;
  width: 22.95%;
  top: 17.31%;
  right: 67.27%;
  bottom: 20.28%;
  left: 9.77%;
}
.follows-wednesday-addams {
  position: absolute;
  height: 7.69%;
  width: 52.03%;
  top: 61.57%;
  left: 45.73%;
  font-size: var(--font-size-2xs);
  display: inline-block;
}
.director-alfred-gough,
.genre-crime-comedy {
  position: absolute;
  top: 18.43%;
  left: 45.73%;
}
.director-alfred-gough {
  top: 25.46%;
}
.stars-jenna-ortega,
.writers-patt-casey {
  position: absolute;
  top: 32.5%;
  left: 45.73%;
}
.stars-jenna-ortega {
  top: 39.54%;
}
.wednesday-child {
  height: 11.57%;
  width: 8.7%;
  top: 78.89%;
  right: 23.91%;
  bottom: 9.54%;
  left: 67.4%;
  border-radius: var(--br-xl);
  background-color: var(--color-black);
  border: 6px solid var(--color-white);
}
.wednesday-child,
.wednesday-inner,
.wednesday-item {
  position: absolute;
  box-sizing: border-box;
}
.wednesday-item {
  height: 6.2%;
  width: 8.1%;
  top: 82.22%;
  right: 43.87%;
  bottom: 11.57%;
  left: 48.02%;
  border-radius: var(--br-lg);
  background-color: var(--color-black);
  border: 4.3px solid var(--color-white);
}
.wednesday-inner {
  height: 6.6%;
  width: 0.23%;
  top: 82.02%;
  right: 47.81%;
  bottom: 11.37%;
  left: 51.96%;
  border-right: 4.3px solid var(--color-white);
}
.arrow-icon6,
.bookmark-icon6,
.like-icon12,
.like-icon13,
.play-icon6 {
  position: absolute;
  height: 4.34%;
  width: 2.44%;
  top: 82.89%;
  right: 48.53%;
  bottom: 12.77%;
  left: 49.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.arrow-icon6,
.bookmark-icon6,
.like-icon13,
.play-icon6 {
  top: 83.42%;
  right: 44.89%;
  bottom: 12.24%;
  left: 52.67%;
}
.arrow-icon6,
.bookmark-icon6,
.play-icon6 {
  height: 6.02%;
  width: 3.39%;
  top: 81.67%;
  right: 7.5%;
  bottom: 12.31%;
  left: 89.11%;
}
.arrow-icon6,
.play-icon6 {
  top: 81.76%;
  right: 26.56%;
  bottom: 12.22%;
  left: 70.05%;
}
.arrow-icon6 {
  top: 2.41%;
  right: 2.24%;
  bottom: 91.57%;
  left: 94.38%;
}
.h-2min {
  position: absolute;
  top: 93.15%;
  left: 68.7%;
  font-size: var(--font-size-sm);
}
.wednesday {
  position: relative;
  background-color: var(--color-black);
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-k2d);
}
.bat-1-icon {
  width: 100%;
  right: 0;
  bottom: 0;
  border-radius: var(--br-2xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.bat-1-icon,
.batman-2022,
.imagini14 {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}
.imagini14 {
  width: 40.68%;
  right: 59.32%;
  bottom: 0;
  filter: blur(60px);
}
.batman-2022 {
  width: 100%;
  display: inline-block;
}
.text7 {
  position: absolute;
  height: 4.44%;
  width: 20.78%;
  top: 0.19%;
  right: 33.49%;
  bottom: 95.37%;
  left: 45.73%;
  font-size: var(--font-size-2xl);
}
.imagini15 {
  position: absolute;
  height: 58.43%;
  width: 21.77%;
  top: 19.26%;
  right: 67.86%;
  bottom: 22.31%;
  left: 10.36%;
}
.when-the-riddler {
  position: absolute;
  height: 13.89%;
  width: 52.03%;
  top: 61.57%;
  left: 45.73%;
  font-size: var(--font-size-2xs);
  display: inline-block;
}
.director-matt-reeves,
.genre-action-crime {
  position: absolute;
  top: 18.43%;
  left: 45.73%;
}
.director-matt-reeves {
  top: 25.46%;
}
.stars-robert-pattinson,
.writers-matt-reeves {
  position: absolute;
  top: 32.5%;
  left: 45.73%;
}
.stars-robert-pattinson {
  top: 39.54%;
}
.batman-child {
  height: 11.57%;
  width: 8.7%;
  top: 78.89%;
  right: 23.91%;
  bottom: 9.54%;
  left: 67.4%;
  border-radius: var(--br-xl);
  background-color: var(--color-black);
  border: 6px solid var(--color-white);
}
.batman-child,
.batman-inner,
.batman-item {
  position: absolute;
  box-sizing: border-box;
}
.batman-item {
  height: 6.2%;
  width: 8.1%;
  top: 82.22%;
  right: 43.87%;
  bottom: 11.57%;
  left: 48.02%;
  border-radius: var(--br-lg);
  background-color: var(--color-black);
  border: 4.3px solid var(--color-white);
}
.batman-inner {
  height: 6.6%;
  width: 0.23%;
  top: 82.02%;
  right: 47.81%;
  bottom: 11.37%;
  left: 51.96%;
  border-right: 4.3px solid var(--color-white);
}
.arrow-icon7,
.bookmark-icon7,
.like-icon14,
.like-icon15,
.play-icon7 {
  position: absolute;
  height: 4.34%;
  width: 2.44%;
  top: 82.89%;
  right: 48.53%;
  bottom: 12.77%;
  left: 49.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.arrow-icon7,
.bookmark-icon7,
.like-icon15,
.play-icon7 {
  top: 83.42%;
  right: 44.89%;
  bottom: 12.24%;
  left: 52.67%;
}
.arrow-icon7,
.bookmark-icon7,
.play-icon7 {
  height: 6.02%;
  width: 3.39%;
  top: 81.67%;
  right: 7.5%;
  bottom: 12.31%;
  left: 89.11%;
}
.arrow-icon7,
.play-icon7 {
  top: 81.76%;
  right: 26.56%;
  bottom: 12.22%;
  left: 70.05%;
}
.arrow-icon7 {
  top: 2.41%;
  right: 2.24%;
  bottom: 91.57%;
  left: 94.38%;
}
.h-56min {
  position: absolute;
  top: 93.15%;
  left: 68.13%;
  font-size: var(--font-size-sm);
}
.batman,
.group-child {
  background-color: var(--color-black);
}
.batman {
  position: relative;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-k2d);
}
.group-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.contact-us,
.personal-account {
  position: absolute;
  height: 4.26%;
  width: 49.5%;
  top: 19.44%;
  left: 16.5%;
  display: inline-block;
}
.contact-us {
  height: 3.61%;
  width: 35%;
  top: 70.37%;
  left: 14.83%;
}
.mail-icon {
  position: absolute;
  height: 6.02%;
  width: 10.83%;
  top: 69.72%;
  right: 83.5%;
  bottom: 24.26%;
  left: 5.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.disconnect1,
.line-icon3 {
  position: absolute;
  top: 83.52%;
  cursor: pointer;
}
.disconnect1 {
  height: 4.26%;
  width: 38.67%;
  left: 6.67%;
  display: inline-block;
}
.line-icon3 {
  height: 4.63%;
  width: 5%;
  right: 88.83%;
  bottom: 11.85%;
  left: 6.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.about-us {
  position: absolute;
  height: 4.26%;
  width: 28.33%;
  top: 57.5%;
  left: 15.5%;
  display: inline-block;
}
.info-icon {
  position: absolute;
  height: 6.02%;
  width: 10.83%;
  top: 56.85%;
  right: 83.5%;
  bottom: 37.13%;
  left: 5.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.saved1 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.saved {
  position: absolute;
  height: 4.26%;
  width: 28.83%;
  top: 44.91%;
  left: 11.33%;
  display: inline-block;
}
.bookmark-icon8 {
  position: absolute;
  top: 475px;
  left: 34px;
  width: 65px;
  height: 65px;
}
.settings-prefferences {
  position: absolute;
  height: 9.44%;
  width: 96%;
  top: 31.76%;
  left: 2.17%;
  display: inline-block;
}
.menu-icon,
.settings-icon,
.user-icon {
  position: absolute;
  height: 6.02%;
  width: 10.83%;
  top: 31.11%;
  right: 83.5%;
  bottom: 62.87%;
  left: 5.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.menu-icon,
.user-icon {
  top: 18.24%;
  bottom: 75.74%;
}
.menu-icon {
  top: 5.37%;
  right: 82.5%;
  bottom: 88.61%;
  left: 6.67%;
}
.rectangle-parent {
  position: absolute;
  height: 100%;
  width: 95.54%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 4.46%;
}
.menu {
  position: relative;
  width: 628px;
  height: 1080px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-blue);
  font-family: var(--font-k2d);
}
