body {
  margin: 0;
  line-height: normal;
}
.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.sign-up-child,
.strange-1-icon3 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
.strange-1-icon3 {
  width: 47.86%;
  right: 52.14%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.sign-up-child {
  width: 54.22%;
  right: 0;
  left: 45.78%;
  box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.sign-up-inner,
.sign-up-item {
  position: absolute;
  height: 5.46%;
  width: 25.73%;
  top: 35%;
  right: 6.2%;
  bottom: 59.54%;
  left: 68.07%;
  border-radius: var(--br-md);
  border: 3px solid var(--color-white);
  box-sizing: border-box;
}
.sign-up-inner {
  top: 42.5%;
  bottom: 52.04%;
}
.enter-a-password3,
.enter-an-email3 {
  position: absolute;
  height: 4.26%;
  width: 16.04%;
  top: 35.56%;
  left: 52.03%;
  display: inline-block;
}
.enter-a-password3 {
  width: 13.39%;
  top: 43.06%;
  left: 54.69%;
}
.sign-up-child1 {
  position: absolute;
  height: 5.46%;
  width: 25.73%;
  top: 50%;
  right: 6.2%;
  bottom: 44.54%;
  left: 68.07%;
  border-radius: var(--br-md);
  border: 3px solid var(--color-white);
  box-sizing: border-box;
}
.re-enter-the-password1 {
  position: absolute;
  height: 4.26%;
  width: 16.67%;
  top: 50.56%;
  left: 51.41%;
  display: inline-block;
}
.sign-up-child2 {
  position: absolute;
  height: 5.46%;
  width: 25.73%;
  top: 57.5%;
  right: 6.2%;
  bottom: 37.04%;
  left: 68.07%;
  border-radius: var(--br-md);
  border: 3px solid var(--color-white);
  box-sizing: border-box;
}
.enter-a-username1 {
  height: 4.26%;
  width: 13.39%;
  top: 58.06%;
  left: 54.69%;
}
.cancel3,
.enter-a-username1,
.moviemania3,
.welcome3 {
  position: absolute;
  display: inline-block;
}
.cancel3 {
  height: 4.26%;
  width: 13.39%;
  top: 70.28%;
  left: 86.15%;
}
.moviemania3,
.welcome3 {
  text-align: left;
}
.moviemania3 {
  height: 4.44%;
  width: 11.67%;
  top: 4.81%;
  left: 1.67%;
  font-size: var(--font-size-lg);
  font-family: var(--font-itim);
}
.welcome3 {
  height: 7.5%;
  width: 15%;
  top: 17.96%;
  left: 72.92%;
  font-size: var(--font-size-3xl);
  font-weight: 600;
}
.sign-up-child3 {
  position: absolute;
  height: 5.65%;
  width: 8.18%;
  top: 69.54%;
  right: 14.53%;
  bottom: 24.81%;
  left: 77.29%;
  border-radius: var(--br-md);
  background-color: var(--color-white);
  cursor: pointer;
}
.remember-password3,
.sign-up3 {
  position: absolute;
  display: inline-block;
}
.sign-up3 {
  height: 4.26%;
  width: 13.39%;
  top: 70.28%;
  left: 74.69%;
  font-weight: 800;
  color: var(--color-black);
}
.remember-password3 {
  height: 2.69%;
  width: 12.5%;
  top: 71.3%;
  left: 62.19%;
  font-size: var(--font-size-3xs);
  cursor: pointer;
}
.box66 {
  height: 41.56%;
  width: 15.38%;
  top: 58.44%;
  right: 84.62%;
  bottom: 0;
  left: 0;
}
.box66,
.box67,
.copy4 {
  position: absolute;
}
.box67 {
  height: 25.97%;
  width: 9.62%;
  top: -1.3%;
  right: -0.48%;
  bottom: 75.32%;
  left: 90.87%;
  border-radius: var(--br-3xs);
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  cursor: pointer;
}
.copy4 {
  height: 7.13%;
  width: 10.83%;
  top: 71.85%;
  right: 25.31%;
  bottom: 21.02%;
  left: 63.85%;
}
.sign-up2 {
  position: relative;
  background-color: var(--color-black);
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-k2d);
}
